<div class="container-fluid">
  <mat-toolbar class="primary d-flex">
    <span class="mr-2" fxFlex>Warehouse Items</span>
    <button
      mat-button
      [disabled]="loading$ | async"
      (click)="dataSource.createNew()"
    >
      <mat-icon>add</mat-icon>New
    </button>
  </mat-toolbar>

  <ng-container *ngIf="!(loading$ | async); else loading">
    <table mat-table matSort class="mat-elevation-z4" [dataSource]="dataSource">
      <ng-container
        *ngFor="let column of columnTitles; let i = index"
        [matColumnDef]="displayedColumns[i]"
      >
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          {{ column }}
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-form-field>
            <mat-label>{{ column }}</mat-label>
            <input
              matInput
              required
              mat-cell
              [formControl]="row.form.get(displayedColumns[i])"
            />
            <mat-error>This field is required</mat-error>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button
            mat-icon-button
            color="primary"
            [disabled]="loading$ | async"
            *ngIf="!(row.editChanges | async)"
            (click)="row.startEdit()"
          >
            <mat-icon>edit</mat-icon>
          </button>

          <button
            mat-icon-button
            color="success"
            [disabled]="row.form.invalid"
            (click)="confirmEditCreate(row)"
            *ngIf="row.editChanges | async"
          >
            <mat-icon>check</mat-icon>
          </button>

          <button
            mat-icon-button
            color="warn"
            (click)="cancelOrDelete(row)"
          >
            <mat-icon>{{
              (row.editChanges | async) ? "close" : "delete"
            }}</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="allColumns"></tr>

      <tr
        mat-row
        [class.editing]="row.editChanges | async"
        *matRowDef="let row; columns: allColumns"
      ></tr>
    </table>
  </ng-container>

  <ng-template #loading>
    <div class="d-flex justify-content-center">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
