.container-fluid {
  padding: 24px 32px;
}

table {
  width: 100%;
  .mat-column-actions {
    padding: 0 !important;
    width: 50px;

    button {
      display: none;
    }
  }

  td.mat-cell {
    vertical-align: baseline;

    &.mat-cell:not(:first-child) {
      padding-right: 10px;
    }
  }

  .mat-column-actions {
    padding: 0 !important;
    min-width: 80px;
  }

  tr[mat-row] {
    transition: background 80ms linear;

    &:not(.editing) {
      .mat-column-actions button {
        display: none;
      }
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.02);

      .mat-column-actions button {
        display: initial;
        opacity: 1;
      }
    }
  }
}

// for disabled inputs
:host ::ng-deep mat-form-field {
  width: 95%;

  &.mat-form-field-disabled {
    .mat-form-field-underline,
    .mat-form-field-label-wrapper {
      visibility: hidden;
    }

    input,
    .mat-select-value-text {
      color: initial;
    }
  }
}

::ng-deep .mat-form-field-infix {
  width: auto !important;
}

span.mr-2 {
  flex: 1 0 0%
}

.d-flex.justify-content-center {
  text-align: -webkit-center;
}
